* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  text-shadow: -1px 1px 0 #606e7d,
    1px 1px 0 #606e7d,
    1px -1px 0 #606e7d,
    -1px -1px 0 #606e7d;
  background-image: url(https://c1.wallpaperflare.com/preview/309/999/724/connection-teamwork-piece-puzzle-cooperation-business.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.left {
  background-image: url();
}

.right {}

.wrapper {}

.tile-winner span {
  color: #23CE6B;
  background-color: green;
  padding: 30px
}

.wrapper {
  height: 800px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.restart {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  background-color: #23CE6B
}

.restart:hover {
  background: #4c6986;
  color: white;
}

.title {
  max-width: 500px;
}

.left {
  margin-left: 100px;
}

.header .player-x {
  flex: 1;
  border-bottom: 5px solid #eee;
  padding-bottom: 8px;
}

.player-x.active {
  color: white;
  border-color: white;
  background-color: #42BED7;
  border-radius: 40px;
  padding: 15px;
}

.header .player-o {
  flex: 1;
  border-bottom: 5px solid #eee;
  padding-bottom: 8px;
}

.player-o.active {
  color: white;
  border-color: white;
  background-color: #bf6728;
  border-radius: 40px;
  padding: 10px;
}

.game {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.header {
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  flex-grow: 1;
  padding: 10px;
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: white;
  background-image: url(https://c1.wallpaperflare.com/preview/874/479/641/abstract-art-artificial-artistic.jpg);
  cursor: pointer;
  text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.board-tile:hover {
  background: #eee;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.board-tile:not(:nth-child(3n)) {
  border-right: 3px solid #2f3842;
}

.board-tile:not(:nth-last-child(-n+3)) {
  border-bottom: 3px solid #2f3842;
}

.tile-x {
  color: #42BED7;
}

.tile-o {
  color: #bf6728;
}

@media only screen and (max-width:1200px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    margin-bottom: 50px;
  }
}
